@use 'variables' as *;

@mixin mq($key) {
  @media (min-width: map-get($breakpoints, $key)) {
    @content;
  }
}

@mixin mq-max($key) {
  @media (max-width: map-get($breakpoints, $key)) {
    @content;
  }
}