$font-family-base: 'Inter', system-ui, sans-serif;

$breakpoints: (
  sm:   40rem,    // 640px
  md:   48rem,    // 768px
  lg:   64rem,    // 1024px
  xl:   80rem,    // 1280px
  '2xl': 96rem,   // 1536px 
);

$css-vars: (
  main-color: #eeead8,
  header-light-color: #fff,
  header-light-hover-color: #fff,
  header-dark-color: #000,
  header-dark-hover-color: #000,
  text-primary: #222222,
  body-bg: #ffffff,
  border-color: #e5e5e5,
  spacing: 0.25rem,
  text-xs: 0.75rem,
  text-xs--line-height: calc(1 / 0.75),
  text-sm: 0.875rem,
  text-sm--line-height: calc(1.25 / 0.875),
  text-base: 1rem,
  text-base--line-height: calc(1.5 / 1),
  text-lg: 1.125rem,
  text-lg--line-height: calc(1.75 / 1.125),
  text-xl: 1.25rem,
  text-xl--line-height: calc(1.75 / 1.25),
  text-2xl: 1.5rem,
  text-2xl--line-height: calc(2 / 1.5),
  text-3xl: 1.875rem,
  text-3xl--line-height: calc(2.25 / 1.875),
  text-5xl: 3rem,
  text-5xl--line-height: 1,
  font-weight-normal: 400,
  font-weight-medium: 500,
  font-weight-semibold: 600,
  font-weight-bold: 700,
  radius-sm: 0.25rem,
  radius-md: 0.375rem,
  radius-lg: 0.5rem,
  radius-xl: 0.75rem,
  radius-2xl: 1rem,
  radius-3xl: 1.5rem,
  radius-4xl: 2rem,
);