@use '../abstracts' as *;

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
    
    @include mq('2xl') {
      max-width: 1160px !important;
      width: 100%;
    }
  }
}