@use '../abstracts' as *;

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
    
    @include mq('2xl') {
      max-width: 1160px !important;
      width: 100%;
    }
  }

  .scroll-to-top {
    &.hide {
      visibility: hidden;
      opacity: 0%;
    }

    &.active {
      visibility: visible;
      opacity: 100%;
    }
  }
}